*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}
.container{
    max-width: 1360px;
    margin: 0px auto;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;
}
nav img{
    max-width: 139px;
}
ul a{
     text-decoration: none;
     font-size: 16px;
     font-weight: 500;
     color: #001931;
}
.btn{
    padding: 12.5px 16px;
    color: #fff;
    background-color: #469165;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
}
.hero-section{
    background-image: url('/assets/hero-bg.png');
    text-align: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-color: rgba(0, 25, 49, 0.8);
    background-position: center;
    background-size: cover;

}
.hero-container{
    padding:115px 0px 179px 0px;
}
.early-access{
    background-color: #fff;
    color: #469165;
    background-color: #FFFFFF;
    max-width: 229px;
    border-radius: 1000px;
    margin:16px auto;
    padding: 12px 8px;
}
.hero-section h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    color: #FFFFFF;
    text-align: center;
}
#note{
    color: #469165;
}
.private{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 28px;
}
.seebtn{
     padding: 12.5px 16px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
}
.notes-section{
    text-align: center;
    padding-top: 20px;
}
.notes-header h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #001931  ;
}
.notes-header p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}
.card-container{
    display: flex;
    gap: 24px;
}
.card{
    padding: 70px 24px;
    max-width: 322px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px #0000001e;
}
.card img{
    border-radius: 50%;
    padding: 14px;
    background-color: #f95555;
    margin-bottom: 16px;
}
.card h4{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}
.card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.solution-section{
    padding-top: 120px;
}
.solution-container{
    display: flex;
    align-items: center;
    gap: 60px;
}
.solution-image-con img{
    max-width: 600px;
    text-align: left;
}
.solution-content{
    max-width: 700px;
    
}
.grn{
    color: #30B868;
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}
.solution-content h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #001931;
}
.solution-para {
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    font-weight: 400;
    margin-right: 220px;
    margin-bottom: 40px;
}
.check{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
}
.check h5{
    font-size: 16px;
    line-height: 20px;
    color: #001931;
    
}
.think-section{
    padding-top: 120px;
    text-align: center;
}
.think-container{
        background-color: #F7F6F2;
        padding: 80px 40px;
}
.think-header h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
} 
.think-header p{
    color:#627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}
.get{
    margin-bottom: 16px;
}
.think-btn-and-footnote p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}